![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

# Titulo
## ¿Vamos al cine?

## TEMA 
Determinar el impacto que tienen el presupuesto de las peliculas y su duracion, en su recaudacion mundial, su popularidad y los premios Oscar que reciben.



Las peliculas son cada vez mas extensas, y los presupuestos de las grandes productoras son cada vez mayores a medida que van 

monopolizando el mercado.  La cuestion pendiente es determinar si estas tendencias favorecen a la industria, o suponen 

trabas en su batalla frente al temido streaming.


# HIPOTESIS PRINCIPAL
## A mayor presupuesto / mas se acercan a los 120 minutos, mas dinero recaudan.

### SECUNDARIAS

#### Hipotesis_2 = La pandemia supuso un antes y un despues en la asistencia a los cines, y aun existe miedo a las salas..

#### Hipotesis_3 = ¿Llegaremos a una pelicula popular de cuatro horas?

#### Hipotesis_4 = Las diez peliculas mas rentables (presupuesto-recaudacion) de la historia son de Hollywood

#### Hipotesis_5 = Las plataformas de streaming van a terminar con las salas.

#### Hipotesis_6 = Las peliculas de drama ganan mas premios Oscar a mejor película que cualquier otro género, quizas que todos combinados.

#### Hipotesis_7 = Cuanto mas recientes son las peliculas, peor valoradas están (de media).

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [1]:
import pandas as pd
url1= "https://raw.githubusercontent.com/prasertcbs/basic-dataset/refs/heads/master/boxoffice.csv"
boxoffice= pd.read_csv(url1)

# guarda en variables los datasets y su fuente
df_1 = pd.DataFrame()
fuente_1 = "boxoffice.csv obtenido de Github"
# fuente_2 = ""
# df_3 = pd.DataFrame()
# fuente_3 = ""
# df_4 = pd.DataFrame()
# fuente_4 = ""
# df_5 = pd.DataFrame()
# fuente_5 = ""
# ...

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [2]:
ruta= "/Users/juanzubiaga/Desktop/BOOTCAMPDS/1-Local/EDA/J-EDA/boxoffice.csv"

boxoffice= pd.read_csv(ruta)
boxoffice.head()

   rank                         title studio  lifetime_gross  year
0     1  Star Wars: The Force Awakens     BV       936662225  2015
1     2                        Avatar    Fox       760507625  2009
2     3                 Black Panther     BV       700059566  2018
3     4        Avengers: Infinity War     BV       678681680  2018
4     5                       Titanic   Par.       659363944  1997

In [3]:
ruta= "/Users/juanzubiaga/Desktop/BOOTCAMPDS/1-Local/EDA/J-EDA/AllTime_BO.csv"

tiposbox= pd.read_csv(ruta)
tiposbox.head()

,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
0,1,2009,Avatar,"$2,845,899,541","$760,507,625","$2,085,391,916"
1,2,2019,Avengers: Endgame,"$2,797,800,564","$858,373,000","$1,939,427,564"
2,3,1997,Titanic,"$2,207,986,545","$659,363,944","$1,548,622,601"
3,4,2015,Star Wars Ep. VII: The Force Awakens,"$2,064,615,817","$936,662,225","$1,127,953,592"
4,5,2018,Avengers: Infinity War,"$2,044,540,523","$678,815,482","$1,365,725,041"

In [10]:
pathinfo= "/Users/juanzubiaga/Desktop/BOOTCAMPDS/1-Local/EDA/J-EDA/movies.csv"

info= pd.read_csv(pathinfo)
info[['budget','original_title','revenue','runtime','vote_average']]
info[info['budget']>250000000]

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
5,5,258000000,Fantasy Action Adventure,http://www.sonypictures.com/movies/spider-man3/,559,dual identity amnesia sandstorm love of one's ...,en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,...,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576,Tobey Maguire Kirsten Dunst James Franco Thoma...,"[{'name': 'Francine Maisler', 'gender': 1, 'de...",Sam Raimi
6,6,260000000,Animation Family,http://disney.go.com/disneypictures/tangled/,38757,hostage magic horse fairy tale musical,en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,...,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330,Zachary Levi Mandy Moore Donna Murphy Ron Perl...,"[{'name': 'John Lasseter', 'gender': 2, 'depar...",Byron Howard
7,7,280000000,Action Adventure Science Fiction,http://marvel.com/movies/movie/193/avengers_ag...,99861,marvel comic sequel superhero based on comic b...,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,...,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767,Robert Downey Jr. Chris Hemsworth Mark Ruffalo...,"[{'name': 'Danny Elfman', 'gender': 2, 'depart...",Joss Whedon
10,10,270000000,Adventure Fantasy Action Science Fiction,http://www.superman.com,1452,saving the world dc comics invulnerability seq...,en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,...,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Superman Returns,5.4,1400,Brandon Routh Kevin Spacey Kate Bosworth James...,"[{'name': 'Roger Mussenden', 'gender': 2, 'dep...",Bryan Singer
13,13,255000000,Action Adventure Western,http://disney.go.com/the-lone-ranger/,57201,texas horse survivor texas ranger partner,en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,...,149.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never Take Off the Mask,The Lone Ranger,5.9,2311,Johnny Depp Armie Hammer William Fichtner Hele...,"[{'name': 'Gore Verbinski', 'gender': 2, 'depa...",Gore Verbinski
17,17,380000000,Adventure Action Fantasy,http://disney.go.com/pirates/index-on-stranger...,1865,sea captain mutiny sword prime minister,en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.413856,...,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,6.4,4948,Johnny Depp Pen\u00e9lope Cruz Ian McShane Kev...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Rob Marshall

In [44]:
pathoscar= "/Users/juanzubiaga/Desktop/BOOTCAMPDS/1-Local/EDA/J-EDA/the_oscar_award.csv"

oscars=pd.read_csv(pathoscar)
oscars[(oscars['winner']==True)&(oscars['category']=="BEST PICTURE")].loc[:,"category":"film"]

,category,name,film
3923,BEST PICTURE,"Sam Spiegel, Producer",Lawrence of Arabia
4049,BEST PICTURE,"Tony Richardson, Producer",Tom Jones
4173,BEST PICTURE,"Jack L. Warner, Producer",My Fair Lady
4295,BEST PICTURE,"Robert Wise, Producer",The Sound of Music
4418,BEST PICTURE,"Fred Zinnemann, Producer",A Man for All Seasons
...,...,...,...
10350,BEST PICTURE,"Kwak Sin Ae and Bong Joon Ho, Producers",Parasite
10474,BEST PICTURE,"Frances McDormand, Peter Spears, Mollye Asher,...",Nomadland
10591,BEST PICTURE,"Philippe Rousselet, Fabrice Gianfermi and Patr...",CODA
10718,BEST PICTURE,"Daniel Kwan, Daniel Scheinert and Jonathan Wan...",Everything Everywhere All at Once
10846,BEST PICTURE,"Emma Thomas, Charles Roven and Christopher Nol...",Oppenheimer